.container-card-product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 0 10px;
}

.card-product {
	width: 100%;
	max-width: 600px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
}

.container-img-and-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.container-name-and-price {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	max-height: 50%;
}

.img-product {
	min-width: 10%;
	max-width: 100%;
	min-height: 50%;
	max-height: 80%;
}

.name-product,
.price-product {
	font-size: 20px;
	text-align: center;
}

.container-actions,
.container-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}

.button-comprar {
	width: 100%;
	max-width: 250px;
	background-color: #3483fa;
	padding: 10px;
	border-radius: 15px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	transition: 0.3s;
}

.button-comprar:focus {
	background-color: #1f4e96;
}

.container-description {
	width: 100%;
	display: flex;
	justify-content: center;
}

.description-product {
	width: 100%;
	max-width: 500px;
	font-size: 16px;
	text-align: center;
}

@media (max-width: 768px) {
	.container-card-product {
		gap: 20px;
	}

	.card-product {
		padding: 5px;
	}

	.name-product,
	.price-product {
		font-size: 18px;
	}

	.button-comprar {
		font-size: 14px;
	}

	.description-product {
		font-size: 14px;
	}
}

@media (max-width: 480px) {

	.name-product,
	.price-product {
		font-size: 16px;
	}

	.button-comprar {
		font-size: 12px;
		padding: 10px;
	}

	.description-product {
		font-size: 12px;
	}
}