# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environments
.env

# Builds
dist/

# Temporary files
*.tmp
*.cache

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store
